/*全体に適応されるscss*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans CJK JP Thin"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK JP Light"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 600;
  src: local("Noto Sans CJK JP Medium"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK JP Bold"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK JP Black"),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.otf) format('opentype');
}


#app {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; //選択禁止
}

html, body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.double_btn_wrapper {
  display: flex;
  width: 90%;
  max-width: 414px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 5%;
}

.border {
  height: 1px;
  width: 100%;
  background: rgba(0,0,0,0.12);
}

.border_white {
  height: 2px;
  width: 95%;
  background-color: rgba(255,255,255,0.30);
}

.l-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-justify-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.l-position-b090 {
  position: absolute;
  left: 25%;
  bottom: 5%;
}

.l-bottom {
  position: absolute;
  left: 0%;
  bottom: 0%;
}

.u-w020 {
  width: 20%;
}

.u-w040 {
  width: 40%;
}

.u-w060 {
  width: 60%;
}

.u-w095 {
  width: 95%;
}

.u-mt-7 {
  margin-top: -7vh;
}

.u-mt-5 {
  margin-top: -5vh;
}

.u-mt1 {
 margin-top: 1vh;
}

.u-mt3 {
 margin-top: 4vh;
}

.u-mt8 {
  margin-top: 8vh;
}

.u-mt10 {
  margin-top: 10vh;
}

.u-mt15 {
  margin-top: 15vh;
}

.u-mt18 {
  margin-top: 18vh;
}

.u-mh1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.u-mh5 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.u-ph1 {
  padding: 0 1vh;
}

.u-ph3 {
  padding: 0 3vh;
}

.u-pt1 {
  padding-top: 1vh;
}

.u-tx-al-c {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.u-fs060 {
  font-size: 0.6rem;
}

.u-fs075 {
  font-size: 0.75rem;
}

.u-fs080 {
  font-size: 0.8rem;
}

.u-fs120 {
  font-size: 1.2rem;
}

.u-fs150 {
  font-size: 1.5rem;
}

.u-fs200 {
  font-size: 2rem;
}

.u-fs250 {
  font-size: 2.5rem;
}

.d-087 {
  /*普通のテキスト*/
  color: rgba(0,0,0,0.87);
}

.d-054 {
  /*サブテキスト*/
  color: rgba(0,0,0,0.54);
}

.d-026 {
  /*使えない、押せない、存在感薄*/
  color: rgba(0,0,0,0.26);
}

.d-012 {
  /*この世のすべてのボーダー*/
  color: rgba(0,0,0,0.12);
}

.l-100 {
  color: rgba(255,255,255,1.00);
}

.l-070 {
  color: rgba(255,255,255,0.70);
}

.l-030 {
  color: rgba(255,255,255,0.30);
}

.l-012 {
  color: rgba(255,255,255,0.12);
}

.l-000 {
  color: rgba(255,255,255,0);
}

.d-1 {
  /*普通のテキスト*/
  color: rgba(0,0,0,0.87);
}

.d-2 {
  /*サブテキスト*/
  color: rgba(0,0,0,0.54);
}

.d-3 {
  /*使えない、押せない、存在感薄*/
  color: rgba(0,0,0,0.26);
}

.d-4 {
  /*この世のすべてのボーダー*/
  color: rgba(0,0,0,0.12);
}

.l-1 {
  color: rgba(255,255,255,1.00);
}

.l-2 {
  color: rgba(255,255,255,0.70);
}

.l-3 {
  color: rgba(255,255,255,0.30);
}

.l-4 {
  color: rgba(255,255,255,0.12);
}

.l-0 {
  color: rgba(255,255,255,0);
}

.l-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-text-center {
text-align: center;
}

.u-width100 {
  width: 100%;
}

.u-width090 {
  width: 90%;
}

.u-width080 {
  width: 80%;
}

.u-mt05 {
  margin-top: .5vh;
}

.u-mt1 {
  margin-top: 1vh;
}

.u-mt2 {
  margin-top: 2vh;
}

.u-mt3 {
  margin-top: 3vh;
}

.u-mt4 {
  margin-top: 4vh;
}

.u-mt5 {
  margin-top: 5vh;
}

.u-mt6 {
  margin-top: 6vh;
}

.u-mt7 {
  margin-top: 7vh;
}

.u-mt8 {
  margin-top: 8vh;
}

.u-mt9 {
  margin-top: 9vh;
}

.u-mt10 {
  margin-top: 10vh;
}

.u-fs090 {
font-size: 0.9rem;
}

.u-fs080 {
font-size: 0.8rem;
}

.u-fs070 {
font-size: 0.7rem;
}
