/*全体に適応されるscss*/
#app {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-w020 {
  width: 20%;
}

.u-w060 {
  width: 60%;
}

.u-mt-5 {
  margin-top: -5vh;
}

.u-mt1 {
 margin-top: 1vh;
}

.u-mt8 {
  margin-top: 8vh;
}

.u-mt10 {
  margin-top: 10vh;
}

.u-mt15 {
  margin-top: 15vh;
}

.u-mt18 {
  margin-top: 18vh;
}

.u-mh1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.u-ph1 {
  padding: 0 1vh;
}

.u-ph3 {
  padding: 0 3vh;
}

.u-pt1 {
  padding-top: 1vh;
}

.u-tx-al-c {
  text-align: center;
}

.u-fs060 {
  font-size: 0.6rem;
}

.u-fs080 {
  font-size: 0.8rem;
}

.u-fs150 {
  font-size: 1.5rem;
}

.u-fs200 {
  font-size: 2rem;
}

.u-fs250 {
  font-size: 2.5rem;
}

.d-087 {
  /*普通のテキスト*/
  color: rgba(0,0,0,0.87);
}

.d-054 {
  /*サブテキスト*/
  color: rgba(0,0,0,0.54);
}

.d-026 {
  /*使えない、押せない、存在感薄*/
  color: rgba(0,0,0,0.26);
}

.d-012 {
  /*この世のすべてのボーダー*/
  color: rgba(0,0,0,0.12);
}

.l-100 {
  color: rgba(255,255,255,1.00);
}

.l-070 {
  color: rgba(255,255,255,0.70);
}

.l-030 {
  color: rgba(255,255,255,0.30);
}

.l-012 {
  color: rgba(255,255,255,0.12);
}

.l-000 {
  color: rgba(255,255,255,0);
}
